#meme-image {
border: 1px solid yellow;

}

#pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}

div {
    font-family: "Pirata One", system-ui;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
    color:white;

}

html {
    background-color: black;
}
